body {
	background: linear-gradient(to right, #2a2333, #a458a773);
	font-family: "Roboto", sans-serif;
	font-weight: 700;
}
.grid-container {
	display: flex;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(4, 90px);
	grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

.grid-container > button {
	cursor: pointer;
	font-size: 20px;
	border: none;
	background-color: #111;
	color: #eee;
	outline: none;
    transition: .3s ease-in-out;
}
.grid-container > button:hover{
    background-color: rgba(255, 255  , 255, 0.75);
    color: #111;
}

.grid-container > .operator {
	background-color: #39233a73;
}
.span-two {
	grid-column: span 2;
}
.grid-container > .output {
	grid-column: 1/-1;
	background-color: #222;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	padding: 15px;
	word-wrap: break-word;
	word-break: break-all;
}
.grid-container > .output > .previous-operand {
    color: rgba(255, 255  , 255, 0.75);
    font-size: 20px;
}
.grid-container> .output> .current-operand{
    color: white;
    font-size: 35px;
}