@media (max-width: 460px) {
	.grid-container {
		grid-template-columns: repeat(4, 70px);
		grid-template-rows: minmax(90px, auto) repeat(5, 60px);
	}

	.grid-container > button {
		font-size: 18px;
	}
	.grid-container > .output > .previous-operand {
		font-size: 17px;
	}
	.grid-container > .output > .current-operand {
		font-size: 30px;
	}
}
